{% extends "index.html" %} {% block title %}About Us{% endblock title %} {% load
static %} {% block body %}
<style>
  .container {
    background: linear-gradient(to right, #ffcc00, #000000);
    color: whitesmoke; /* Gradient background */
    margin-top: 80px;
    border-radius: 8px;
  }
</style>
<div class="container py-4">
  <div class="text-center mb-4">
    <h1>About 2-Wheels</h1>
  </div>
  <p>
    At 2-Wheels, we're revolutionizing the way you commute in urban areas. We
    understand the challenges of city transportation - the traffic congestion,
    the environmental impact, and the time wasted in commuting. That's why we've
    introduced a fast, convenient, and eco-friendly solution: bike taxis.
  </p>
  <p>
    Our fleet of well-maintained motorcycles and trained riders are dedicated to
    providing you with a seamless journey from point A to point B. Whether
    you're heading to work, running errands, or exploring the city, our bike
    taxis offer a quick and efficient way to get around.
  </p>
  <p>
    Safety is our top priority. All our riders undergo rigorous background
    checks and training programs to ensure your peace of mind. We equip our
    bikes with the latest safety features and adhere to strict maintenance
    standards, so you can trust us to deliver a safe and reliable ride every
    time.
  </p>
  <p>
    Not only are bike taxis a practical choice for urban travel, but they also
    contribute to a cleaner and greener environment. By opting for Two Wheels,
    you're not just choosing convenience - you're making a conscious decision to
    reduce your carbon footprint and support sustainable transportation.
  </p>
  <p>
    Join us in embracing the future of urban mobility. Experience the freedom,
    speed, and convenience of bike taxis with Two Wheels today.
  </p>
</div>

{% endblock body %}
