{% extends "index.html" %}
{% block title %}Login{% endblock title %} 
{% load static %}
{% block body %}
<style>
  .bg_gradient{
    background: linear-gradient(to right, #ffcc00, #000000);
    border-radius: 10px;
  }
</style>
<body class="d-flex align-items-center justify-content-center vh-100">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-7">
          <div class="card shadow-lg">
              <div class="card-body bg_gradient text-white">
                  <h3 class="card-title text-center">Login</h3>
                  <form method="post" autocomplete="off">
                    {% csrf_token %}
                  <div class="mb-3">{{ form.username }}{{ form.username.errors }}</div>
                  <div class="mb-3">{{ form.password }}{{ form.password.errors }}</div>
                  <p class="text-center">Not a member? <a class="text-decoration-none text-info" href="{% url 'signup' %}">Sign-up</a></p>
                  <button type="submit" class="btn btn-dark btn-md d-block mx-auto" style="color: #e4a11b; border: 2px solid #e4a11b">Submit</button>
                  </form>
                  {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                  {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock body %}
