{% extends "index.html" %} {% block title %}Safety{% endblock title %} {% load
static %} {% block body %}

<style>
  .container {
    background: linear-gradient(to right, #ffcc00, #000000);
    color: whitesmoke; /* Gradient background */
    margin-top: 80px;
    border-radius: 8px;
  }
</style>
<div class="container py-3">
  <div class="text-center mb-3">
    <h1>Safety First with 2-Wheels</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3>Trained Riders</h3>
      <p>
        Our riders undergo rigorous training programs to ensure they are
        well-equipped to handle various road conditions and traffic situations.
        They are trained in defensive riding techniques, first aid, and customer
        service, ensuring a safe and comfortable journey for you.
      </p>

      <h3>Background Checks</h3>
      <p>
        All our riders undergo thorough background checks before joining our
        team. We verify their identity, driving history, and criminal record to
        ensure they meet our safety standards.
      </p>

      <h3>Safety Equipment</h3>
      <p>
        We equip our bikes with the latest safety features, including helmets,
        reflective vests, and rearview mirrors. These measures not only protect
        our riders but also enhance visibility and safety on the road.
      </p>

      <h3>Regular Maintenance</h3>
      <p>
        Our bikes undergo regular maintenance checks to ensure they are in
        optimal condition. We inspect brakes, tires, lights, and other essential
        components to ensure they meet safety standards.
      </p>
    </div>
    <div class="col-md-6">
      <h3>Insurance Coverage</h3>
      <p>
        We provide comprehensive insurance coverage for both our riders and
        passengers. In the unlikely event of an accident or injury, you can rest
        assured knowing that you are covered.
      </p>

      <h3>Emergency Response</h3>
      <p>
        In case of emergencies, our riders are trained to handle situations
        swiftly and efficiently. They are equipped with communication devices to
        quickly reach out for assistance if needed.
      </p>

      <h3>Customer Feedback</h3>
      <p>
        We value your feedback and continuously strive to improve our services
        based on your suggestions. Your safety concerns are taken seriously, and
        we are committed to addressing them promptly.
      </p>

      <h3>Community Engagement</h3>
      <p>
        We actively engage with local communities to promote road safety
        awareness and encourage responsible riding behavior among both riders
        and drivers.
      </p>
    </div>
  </div>
</div>
{% endblock body %}
